/* ============= FOOTER ============= */
.footer {
  .box-container {
    @include grid(25rem);

    .box {
      padding: 1rem 0;

      .logo {
        padding-bottom: 1rem;
      }

      h3 {
        font-size: 2.2rem;
        color: var(--white);
        padding: 1rem 0;
      }

      p {
        font-size: 1.4rem;
        color: var(--light-color);
        padding: 1rem 0;
        line-height: 2;

        i {
          padding-right: 0.5rem;
          color: var(--first-color);
        }
      }

      .share {
        padding-top: 1rem;

        a {
          height: 4.5rem;
          width: 4.5rem;
          line-height: 4rem;
          font-size: 2rem;
          border-radius: 50%;
          font-size: 1.7rem;
          border: var(--border);
          color: var(--first-color);
          margin-right: 0.5rem;
          text-align: center;

          &:hover {
            background: var(--first-color);
            color: var(--second-color);
          }
        }
      }

      .links {
        font-size: 1.4rem;
        color: var(--light-color);
        padding: 1rem 0;
        display: block;

        &:hover {
          color: var(--first-color);

          i {
            padding-right: 2rem;
          }
        }

        i {
          padding-right: 0.5rem;
          color: var(--first-color);
        }
      }

      form .email {
        width: 100%;
        border-radius: 5rem;
        border: var(--border);
        background: none;
        font-size: 1.5rem;
        text-transform: none;
        color: var(--light-color);
        margin-bottom: 1rem;
        padding: 1.2rem 1.4rem;
      }
    }
  }
}

.credit {
  background: var(--body-color);
  text-align: center;
  font-size: 2rem;
  padding: 2rem 1rem;
  color: var(--light-color);

  span {
    color: var(--first-color);
  }
}
