/* ============= HEADER ============= */
@import "../config/variables";

.nav__link {
  color: $primary-color;
  // font-weight: $font-semi-bold;
  // text-transform: uppercase;
}

.nav__link:hover {
  color: $text-color;
}

/* Active Link */
.active-link {
  position: relative;
  color: $title-color;
}

// .header {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 1000;
//   background: var(--body-color);
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 1.5rem 9%;

//   .navbar a {
//     font-size: 1.7rem;
//     color: var(--light-color);
//     display: inline-block;
//     margin: 0 1rem;

//     &:hover {
//       color: var(--first-color);
//     }
//   }

//   .button {
//     margin-top: 0;
//   }
// }

// .logo {
//   font-size: 2.5rem;
//   color: var(--white);
//   font-weight: bolder;

//   i {
//     color: var(--first-color);
//     padding-right: 0.5rem;
//   }
// }
