/* ============= GOOGLE FONTS ============= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
/* ============= VARIABLE CSS ============= */
/* ======== Fonts and Typography ======== */
/* ======== z index ======== */
/* ======== alternative color ======== */
/* ========== Colors ========= */
/* Change favorite color to match images */
/* https://www.w3schools.com/colors/colors_hsl.asp */
/* HSL color mode */
/* ======== Fonts and Typography ======== */
/* ======== Font Weight ======== */
/* ======== Margenes Bottom ======== */
/* ======== z index ======== */
/* ======== Hover Overlay ======== */
/* ============= SCROLL UP ============= */
/* ============= GOOGLE FONTS ============= */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
/* ============= VARIABLE CSS ============= */
/* ======== Fonts and Typography ======== */
/* ======== z index ======== */
/* ======== alternative color ======== */
/* ========== Colors ========= */
/* Change favorite color to match images */
/* https://www.w3schools.com/colors/colors_hsl.asp */
/* HSL color mode */
/* ======== Fonts and Typography ======== */
/* ======== Font Weight ======== */
/* ======== Margenes Bottom ======== */
/* ======== z index ======== */
/* ======== Hover Overlay ======== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
.scrollup {
  position: fixed;
  right: 4.5rem;
  bottom: -20%;
  background-color: #2bdad7;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.9;
  z-index: 10;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.scrollup__icon {
  color: #fff;
}

.scrollup:hover {
  background-color: hsl(var(--hue-color), 64%, 15%);
  opacity: 1;
}

/* Show scroll */
.show-scroll {
  bottom: 5rem;
}

/* ============= SCROLL BAR ============= */
::-webkit-scrollbar {
  width: 0.6rem;
  background-color: hsl(var(190), 12%, 90%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(190), 12%, 75%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(var(190), 8%, 60%);
}

/* ============= HEADER ============= */
/* ============= GOOGLE FONTS ============= */
/* ============= VARIABLE CSS ============= */
/* ======== Fonts and Typography ======== */
/* ======== z index ======== */
/* ======== alternative color ======== */
/* ========== Colors ========= */
/* Change favorite color to match images */
/* https://www.w3schools.com/colors/colors_hsl.asp */
/* HSL color mode */
/* ======== Fonts and Typography ======== */
/* ======== Font Weight ======== */
/* ======== Margenes Bottom ======== */
/* ======== z index ======== */
/* ======== Hover Overlay ======== */
.nav__link {
  color: #2bdad7;
}

.nav__link:hover {
  color: hsl(var(--hue-color), 24%, 35%);
}

/* Active Link */
.active-link {
  position: relative;
  color: hsl(var(--hue-color), 64%, 18%);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: #111;
}

html::-webkit-scrollbar-thumb {
  background: #29d9d5;
  border-radius: 5rem;
}

body {
  background: #111;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: #29d9d5;
  font-size: 2rem;
}

.heading h1 {
  font-size: 4rem;
  color: #fff;
}

.button {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: #29d9d5;
  border: 0.2rem solid #29d9d5;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
}

.button:hover {
  background: #29d9d5;
  color: #111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 9%;
}

.header .navbar a {
  font-size: 1.7rem;
  color: #aaa;
  display: inline-block;
  margin: 0 1rem;
}

.header .navbar a:hover {
  color: #29d9d5;
}

.header .button {
  margin-top: 0;
}

.logo {
  font-size: 2.5rem;
  color: #fff;
  font-weight: bolder;
}

.logo i {
  color: #29d9d5;
  padding-right: 0.5rem;
}

#menu-btn {
  font-size: 2.5rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

.home {
  margin: 0 auto;
  margin-top: 9rem;
  width: 90%;
  border-radius: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../img/home-bg.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../img/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 80vh;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 5rem;
}

.home .home__content {
  text-align: center;
}

.home .home__content span {
  font-weight: bolder;
  color: transparent;
  -webkit-text-stroke: 0.1rem #fff;
  font-size: 4vw;
  display: block;
}

.home .home__content h3 {
  font-size: 6vw;
  color: #fff;
}

.home .home__content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.book-form {
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: #222;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
          box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);
  padding: 3rem 2rem;
}

.book-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.book-form form .input-box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25rem;
          flex: 1 1 25rem;
}

.book-form form .input-box span {
  font-size: 1.4rem;
  color: #aaa;
}

.book-form form .input-box input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 5rem;
  border: 0.2rem solid #29d9d5;
  font-size: 1.6rem;
  color: #aaa;
  text-transform: none;
  background: none;
  margin-top: 1rem;
}

.book-form form .button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
}

.about .about__video-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.about .about__video-container video {
  border-radius: 1rem;
  width: 100%;
}

.about .about__video-container .about__control {
  text-align: center;
  padding: 2rem 0;
}

.about .about__video-container .about__control span {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  margin: 0.7rem;
}

.about .about__video-container .about__control span:hover {
  background: #29d9d5;
}

.about .about__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  margin-bottom: 5rem;
}

.about .about__content span {
  color: #29d9d5;
  font-size: 2rem;
}

.about .about__content h3 {
  color: #fff;
  font-size: 4rem;
  margin-top: 0.5rem;
}

.about .about__content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(27rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1.5rem;
}

.destination .box-container .destination__box {
  border-radius: 1rem;
  overflow: hidden;
  background: #222;
}

.destination .box-container .destination__box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.destination .box-container .destination__box .destination__image {
  height: 20rem;
  overflow: hidden;
  width: 100%;
}

.destination .box-container .destination__box .destination__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.destination .box-container .destination__box .destination__content {
  padding: 2rem;
  text-align: center;
}

.destination .box-container .destination__box .destination__content h3 {
  font-size: 2rem;
  color: #fff;
}

.destination .box-container .destination__box .destination__content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.destination .box-container .destination__box .destination__content a {
  font-size: 1.7rem;
  color: #29d9d5;
}

.destination .box-container .destination__box .destination__content a:hover i {
  padding-left: 1rem;
}

.destination .box-container .destination__box .destination__content a i {
  padding-right: 0.5rem;
}

.services .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.services .box-container .service__box {
  background: #222;
  border-radius: 1rem;
  padding: 3rem;
  text-align: center;
  border: 0.2rem solid #111;
}

.services .box-container .service__box:hover {
  border: 0.2rem solid #29d9d5;
}

.services .box-container .service__box i {
  font-size: 4rem;
  color: #29d9d5;
  margin-bottom: 2rem;
}

.services .box-container .service__box h3 {
  font-size: 2rem;
  color: #fff;
}

.services .box-container .service__box p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.gallery .box-container {
  -webkit-columns: 3 25rem;
          columns: 3 25rem;
  -webkit-column-gap: 1.5rem;
          column-gap: 1.5rem;
}

.gallery .box-container .gallery__box {
  margin-bottom: 1rem;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
}

.gallery .box-container .gallery__box img {
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.gallery .box-container .gallery__box span {
  font-size: 1.4rem;
  color: #aaa;
}

.gallery .box-container .gallery__box h3 {
  margin-top: 0.5rem;
  font-size: 2rem;
  color: #fff;
}

.review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2rem;
}

.review .review__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
}

.review .review__content span {
  font-size: 2rem;
  color: #29d9d5;
}

.review .review__content h3 {
  font-size: 3rem;
  color: #fff;
}

.review .review__content p {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.review .box-container {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 42rem;
          flex: 1 1 42rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .review__box {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 20rem;
          flex: 1 1 20rem;
  border-radius: 1rem;
  padding: 2rem;
  background: #222;
  border: 0.2rem solid #111;
}

.review .box-container .review__box:hover {
  border: 0.2rem solid #29d9d5;
}

.review .box-container .review__box p {
  font-size: 1.4rem;
  padding-bottom: 1rem;
  line-height: 2;
  color: #aaa;
}

.review .box-container .review__box .review__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.review .box-container .review__box .review__user img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
}

.review .box-container .review__box .review__user h3 {
  font-size: 1.7rem;
  color: #fff;
}

.review .box-container .review__box .review__user span {
  color: #aaa;
  font-size: 1.5rem;
}

.blogs .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(32rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.blogs .box-container .blogs__box {
  border-radius: 1rem;
  background: #222;
  overflow: hidden;
}

.blogs .box-container .blogs__box:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.blogs .box-container .blogs__box .blogs__image {
  height: 25rem;
  overflow: hidden;
  width: 100%;
}

.blogs .box-container .blogs__box .blogs__image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogs .box-container .blogs__box .blogs__content {
  padding: 2rem;
}

.blogs .box-container .blogs__box .blogs__content .link {
  font-size: 2rem;
  color: #fff;
}

.blogs .box-container .blogs__box .blogs__content .link:hover {
  color: #29d9d5;
}

.blogs .box-container .blogs__box .blogs__content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.blogs .box-container .blogs__box .blogs__content .blogs__icon {
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogs .box-container .blogs__box .blogs__content .blogs__icon a {
  font-size: 1.4rem;
  color: #aaa;
}

.blogs .box-container .blogs__box .blogs__content .blogs__icon a:hover {
  color: #29d9d5;
}

.blogs .box-container .blogs__box .blogs__content .blogs__icon a i {
  padding-right: 0.5rem;
  color: #29d9d5;
}

.banner {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(17, 17, 17, 0.7)), to(rgba(17, 17, 17, 0.7))), url(../images/banner-bg.jpg) no-repeat;
  background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url(../images/banner-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3rem 2rem;
  background-attachment: fixed;
  text-align: center;
}

.banner .banner__content span {
  font-size: 2rem;
  color: #29d9d5;
}

.banner .banner__content h3 {
  font-size: 4rem;
  color: #fff;
  margin-top: 1rem;
}

.banner .banner__content p {
  max-width: 60rem;
  margin: 1rem auto;
  font-size: 1.4rem;
  color: #aaa;
  line-height: 2;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .footer__box {
  padding: 1rem 0;
}

.footer .box-container .footer__box .logo {
  padding-bottom: 1rem;
}

.footer .box-container .footer__box h3 {
  font-size: 2.2rem;
  color: #fff;
  padding: 1rem 0;
}

.footer .box-container .footer__box p {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  line-height: 2;
}

.footer .box-container .footer__box p i {
  padding-right: 0.5rem;
  color: #29d9d5;
}

.footer .box-container .footer__box .share {
  padding-top: 1rem;
}

.footer .box-container .footer__box .share a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4rem;
  font-size: 2rem;
  border-radius: 50%;
  font-size: 1.7rem;
  border: 0.2rem solid #29d9d5;
  color: #29d9d5;
  margin-right: 0.5rem;
  text-align: center;
}

.footer .box-container .footer__box .share a:hover {
  background: #29d9d5;
  color: #111;
}

.footer .box-container .footer__box .links {
  font-size: 1.4rem;
  color: #aaa;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .footer__box .links:hover {
  color: #29d9d5;
}

.footer .box-container .footer__box .links:hover i {
  padding-right: 2rem;
}

.footer .box-container .footer__box .links i {
  padding-right: 0.5rem;
  color: #29d9d5;
}

.footer .box-container .footer__box form .email {
  width: 100%;
  border-radius: 5rem;
  border: 0.2rem solid #29d9d5;
  background: none;
  font-size: 1.5rem;
  text-transform: none;
  color: #aaa;
  margin-bottom: 1rem;
  padding: 1.2rem 1.4rem;
}

.credit {
  background: #222;
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem 1rem;
  color: #aaa;
}

.credit span {
  color: #29d9d5;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #222;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .header .navbar a {
    margin: 2rem;
    font-size: 2rem;
    display: block;
  }
  .home {
    margin-top: 10rem;
  }
  .home .content span {
    font-size: 8vw;
  }
  .home .content h3 {
    font-size: 9vw;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .about .content h3 {
    font-size: 3.5rem;
  }
  .banner .content h3 {
    font-size: 2.7rem;
  }
}
/*# sourceMappingURL=style.css.map */